@import "resources/sass/common";

* {
    font-family: $font-family-sans-serif;
}

.wrapper {
    height: 100vh;
    display: flex;
    @include isMobile {
        flex-wrap: wrap;
    }
}

.on-mobile {

}