@import "resources/sass/common";
@import "resources/sass/btn";

.header{
    &__button{
        position: fixed;
        top: 0.5em;
        right: 0.5em;
        height: 30px;
        z-index: 999;
    }
}