.btn {
    display: flex;
    align-items: center;
    border-radius: 100px;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    background: linear-gradient(45deg,$color-primary,$color-secondary);
    padding: 0 1.5em;
    cursor: pointer;
    transition: all .3s;
    color: #fff;
    font-weight: bold;
    height: 40px;
    
    @include notMobile {
        &:hover{
            box-shadow: 0 5px 10px rgba($color-primary,0.7);
        }
    }

    &__secondary{
        background: #fff;
        border: 2px solid $color-primary;
        color: $color-primary;
    }
}
.btn-group{
    display: flex;
    .btn + .btn{
        margin-left: 5px;
    }
}