// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$sidebar-width: 300px;


$color-border: #d9d9d9;
$color-border-table: #e6e6e6;


$color-primary: #3eb59f;
$color-secondary: #8ac67c;

$color-background: #dbf65c;