@import "resources/sass/variables";

.body {
    display: flex;
    flex-flow: column;
    flex: 1;
    width: 100%;
    height: calc(100vh - 60px);
    padding: 20px 16px 20px 20px;
    overflow: hidden;
    background-color: rgba($color-border,0.4);
    margin-top: 10px;
    border-radius: 26px;
    &__wrapper{
        display: flex;
        flex-flow: column;
        flex: 1;
        padding: 1.5em;
        border-radius: 16px;
        background-color: #fff;
        overflow: hidden;
    }
}
