@import "resources/sass/common";

.body {
    display: flex;
    flex-flow: column;
    flex: 1;
    width: 100%;
    height: calc(100vh - 60px);
    padding: 20px 16px 20px 20px;
    overflow: hidden;
    background-color: rgba($color-border,0.4);
    margin-top: 10px;
    border-radius: 26px;
    @include isMobile {
        padding: 0;
        margin: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__wrapper{
        display: flex;
        flex-flow: column;
        flex: 1;
        padding: 1.5em;
        border-radius: 16px;
        background-color: #fff;
        overflow: hidden;
        @include isMobile {
            padding: 0.5em;
        }
    }
}
