@import "resources/sass/common";

.sidebar {
    width: $sidebar-width;
    // background-color: rgba($color-primary, $alpha: 0.2);
    overflow: hidden auto;
    backdrop-filter: blur(10px);
    background-color: #fff;
    @include isMobile {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        transition: all .3s;
        z-index: 999;
        box-shadow: 0 0 10px 0 #0000;
        &.active-sidebar {
            transform: translateX(0);
            box-shadow: 0 0 10px 0 #0005;
        }
    }

    /* width */
    &::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #fff0;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #fff0;
        border-radius: 100px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    &-inner {
        padding: 1rem;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-top: 10px;
            li {
                margin-left: -0.5em;
                margin-right: -0.5em;
                a {
                    position: relative;
                    display: flex;
                    align-items: center;
                    height: 50px;
                    font-size: 16px;
                    color: #000;
                    text-decoration: none;
                    text-transform: capitalize;
                    padding: 0 1em;
                    transition: all .3s;

                    &::after{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 1em;
                        width: 100px;
                        height: 1px;
                        background-color: $color-border;
                        transition: all .3s;
        
                    }
                    
                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(45deg,$color-primary,$color-secondary);
                        opacity: 0;
                        transition: all .3s;
                        z-index: -1;
                        border-radius: 100px;
                        box-shadow: 0px 5px 10px rgba($color-primary, 0.7);
                    }
                    
                    @media screen and (min-width: 769px) {
                        &:hover {
                            padding-left: 1.5em;
                            color: #fff;
                            &::before{
                                opacity: 1;
                            }
                            &::after{
                                width: 100%;
                                opacity: 0;
                            }
                        }   
                    }

                    &.active-menu {
                        padding-left: 1.5em;
                        color: #fff;
                        &::before{
                            opacity: 1;
                        }
                        &::after{
                            width: 100%;
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}
